@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;500;900&display=swap');
@import url('retrieve_user_identification_no_styles.css');
body{
    font-family: 'Noto Sans JP', sans-serif;
    margin: 0;
    padding: 0;
}