input {
  display: block;
  font-family: "Noto Sans JP", sans-serif;
}

.input{
  width: 60%;
  margin: 20px auto;
}

input[type="text"],
input[type="password"] {
  border: none;
  width: 100%;
  background: none;
  border-bottom: 2px solid #555555;
  color: #555555;
  font-size: 20px;
}

label{
  color: #999;
  font-size: 14px;
  padding: 0;
  margin: 0;
  width: 100%;
}
label > strong{
  display: inline-block;
  width: 100%;
  font-weight: 400;
}

input[type="text"]:focus,
input[type="password"]:focus {
  outline: none;
}

input[type="email"]::placeholder,
input[type="email"]::placeholder,
input[type="password"]::placeholder {
  color: #747474;
}

.radioContainer{
  margin-bottom: 20px;
}

form > h3{
  margin-left: 114px;
}

.checkboxContainer{
  margin-bottom: 5px;
}

.optionsContainer{
  height: 200px;
  width: 300px;
  overflow-y: scroll;
}

.radioContainer > input, .checkboxContainer > input {
  display: inline-block;
  margin: 0;
}

.button[type="submit"],
.button[type="button"],
a.button {
  font-size: 16px;
  background: #3498db;
  border: none;
  max-width: 200px;
  outline: 1px solid #ffffff;
  color: #ffffff;
  border-radius: 4px;
  padding: 9px;
  margin: 20px auto 10px auto;
  display: block;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  transition: .1s all;
}

.button[type="submit"]:hover,
.button[type="button"]:hover,
a.button:hover {
  background: #ffffff;
  outline: 1px solid #3498DB;
  border-radius: 4px;
  color: #3498DB;
}

.button-secondary {
  font-size: 16px;
  background: none;
  border: none;
  color: #3498DB;
  padding: 9px;
  margin: 20px auto 10px auto;
  display: block;
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: all .1s;
}

.button-secondary:hover{
  text-decoration-color: #3498db;
}

.labelRefrigerio {
  color: #2ecc71;
}

.labelAlmuerzo {
  color: #3498db;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2ecc71;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #3498db;
}

input:focus + .slider {
  box-shadow: 0 0 1px #3498db;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

div.shake{
  animation-name: shake;
  animation-duration: .3s;
  animation-iteration-count: 1;
}

@keyframes shake{
  0%{
    transform: translateX(0px);
  }
  25%{
    transform: translateX(10px);
    
  }
  50%{
    transform: translateX(-10px);
    
  }
  70%{
    transform: translateX(10px);
    
  }
  100%{
    transform: translateX(0px);
  }
}
