p.Refrigerio, p.Almuerzo{
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}

h1.Refrigerio, h1.Almuerzo{
    font-weight: 400;
}

h1.Refrigerio, p.Refrigerio{
    color: #2ECC71;
}
h1.Almuerzo, p.Almuerzo{
    color: #3498DB;
}
body.Refrigerio, div.Refrigerio{
    background: #2ECC71;
}
body.Almuerzo, div.Almuerzo{
    background: #3498DB;
}

.serviceContainer{
    width: 300px;
    margin: auto;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.serviceContainer p{
    margin: 0;
    height: 34px;
}
.serviceContainer label{
    margin: 0;
}