table {
	border-collapse: collapse;
	margin: 50px auto;
	width: 650px;
}

table td[colspan="5"] {
	text-align: center;
}

table th,
table td {
	padding: 8px;
	text-align: left;
	border-bottom: 1px solid #ddd;
}

tr > td form{
	display: inline-block;
	margin-right: 10px;
}


div.button-editar, div.button-eliminar {
	display: inline-block;
    padding: 9px;
	border: none;
	font-size: 18px;
	color: #ffffff;
	cursor: pointer;
	border-radius: 3px;
	transition: .1s all;
}
div.button-eliminar{
    background: #e74c3c;
}
div.button-editar{
    background: #2ecc71;
}

input.button-eliminar, input.button-editar{
	cursor: pointer;
	display: inline-block;
	background: none;
	outline: none;
	border: none;
	color: #ffffff;
}

div.button-editar:hover, div.button-eliminar:hover{
	background: #ffffff;
	outline: 1px solid;
}

div.button-editar:hover{
	outline-color: #2ECC71;
}

div.button-editar:hover i, div.button-editar:hover input{
	color: #2ECC71;
}

div.button-eliminar:hover i, div.button-eliminar:hover input{
	color: #e74c3c;
}

div.button-eliminar:hover{
	outline-color: #E74C3C;
}
.actions-container{
	width: 210px;
	margin-left: 0px;
}

#estudiantes{
	overflow-x: auto;
}


@media only screen and (max-width: 400px){
    .table-container{
        overflow-x: scroll;
    }
	.form{
		width: 230px;
	}
	table{
		width: 500px;
		
	}
	.table-container{
		margin: 0 15px;
	}
}